/*--------------------------------------------------
  Menu Button
--------------------------------------------------*/

.menu-btn .ham-line.top,
.menu-btn .ham-line.mid,
.menu-btn .ham-line.bottom {
  transition: all 400ms ease;
}

.menu-btn .ham-line.top,
.menu-btn .ham-line.bottom {
  transform: rotate(0);
}

.menu-btn .ham-line.mid {
  opacity: 100%;
}

.menu-btn.w--open .ham-line.top {
  transform: rotateZ(38deg);
}

.menu-btn.w--open .ham-line.mid {
  opacity: 0;
}

.menu-btn.w--open .ham-line.bottom {
  transform: rotateZ(-38deg);
}

/*--------------------------------------------------
  Dropdown
--------------------------------------------------*/

.nav-drop-link.w--current {
  color: var(--silver);
}
