/*--------------------------------------------------
  Menu Button
--------------------------------------------------*/

.menu-btn .ham-line.top,
.menu-btn .ham-line.mid,
.menu-btn .ham-line.bottom {
  transition: all 400ms ease;
}

.menu-btn .ham-line.top,
.menu-btn .ham-line.bottom {
  transform: rotate(0);
}

.menu-btn .ham-line.mid {
  opacity: 100%;
}

.menu-btn.w--open .ham-line.top {
  transform: rotateZ(38deg);
}

.menu-btn.w--open .ham-line.mid {
  opacity: 0;
}

.menu-btn.w--open .ham-line.bottom {
  transform: rotateZ(-38deg);
}

/*--------------------------------------------------
  Dropdown
--------------------------------------------------*/

.nav-drop-link.w--current {
  color: var(--silver);
}

/*--------------------------------------------------
  Animations
--------------------------------------------------*/

.modal-1.active,
.modal-2.active,
.modal-3.active {
  animation: modal 400ms ease;
}

@keyframes modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

/*--------------------------------------------------
  Gradient Text
--------------------------------------------------*/

.main-headin,
.text-gradient {
  -webkit-background-clip: text;
}

/*--------------------------------------------------
  Video Lightbox
--------------------------------------------------*/

.w-lightbox-frame iframe {
  border-radius: 15px;
}
